<div class="row">
  <div class="col-md-12 h5">¿Hay Acuerdo? Es un proyecto de la Fundación Ciudadano Inteligente cuyo objetivo informar y transparentar el debate entorno a las grandes reformas que están en curso actualmente en Chile. Nuestra finalidad, es fomentar la participación y empoderamiento ciudadano con miras a acortar las brechas de información.</div>
</div>

<div class="row">
<!--   <div class="col-md-4 text-center">
    <h3>Gobierno</h3>
  </div> -->
  <div class="col-md-12 text-center">
    <div id="listado"></div>
  </div>
<!--   <div class="col-md-4 text-center">
    <h3 id="title-compare">FECH</h3>
  </div> -->
</div>


<div class="allPositions"></div>

<script type="text/javascript">
  var url_share = '{{ site.url }}';
  window.onload = function() { init() };

  var public_spreadsheet_url = "{{ site.gsheet }}";

  function init() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     wanted: ['gobierno-fech', 'gobierno-horizontal', 'gobierno-evopoli', 'gobierno-amplitud', 'gobierno-rn', 'gobierno-udi', 'gobierno-educacion2020'],
                     simpleSheet: true } )
  }
</script>

<script type="text/javascript" src="../js/hayacuerdo.js"></script>