<div id="listado"></div>

<div class="allPositions"></div>

<script type="text/javascript">
  window.onload = function() { init() };

  var public_spreadsheet_url = "{{ site.gsheet }}";

  function init() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     wanted: ['gobierno-fech', 'gobierno-horizontal', 'gobierno-evopoli', 'gobierno-amplitud', 'gobierno-rn', 'gobierno-udi', 'gobierno-educacion2020'],
                     simpleSheet: true } )
  }
</script>

<script type="text/javascript" src="../js/hayacuerdo.js"></script>