<div class="footer">
<div id="footer">
		<div class="container">
		  <div class="row">
			<div class="col-md-4">
				<ul>
					<li><a href="https://github.com/ciudadanointeligente/legislative" target="_blank"><i class="fa fa-github-alt"></i> Revisa nuestro código en Github</a></li>
					<li><a href="//www.ciudadanointeligente.org/servicios/#congreso" target="_blank"><i class="fa fa-heart-o"></i> ¿Quieres tener un sitio como éste para tu país?</a></li>
				</ul>
			</div>
			<div class="col-md-4">
			  <ul>
				<li>
				  Desarrollado por <a href="//www.ciudadanointeligente.org/" target="_blank"><img src="http://congresoabierto.cl/assets/logo-ciudadanoi.png" alt="Fundación Ciudadano Inteligente" title="Fundación Ciudadano Inteligente"></a>
				</li>
			  </ul>
			</div>
			<div class="col-md-4">
				<ul>
					<li><a href="tel:+56224192770"><i class="fa fa-phone"></i> +562 2 419 2770</a></li>
					<li><a href="" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Contacto prensa</a></li>
					<li><a href="//bit.ly/17qiMkf" target="_blank"><i class="fa fa-map-marker"></i> Holanda 895, Providencia, Santiago, Chile</a></li>
				</ul>
			</div>
		  </div>
		</div>
</div>
</div>