<!-- Footer -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li>
              <a href="https://github.com/ciudadanointeligente/hayacuerdo" target="_blank"><i class="fa fa-github-alt"></i> Revisa nuestro código en Github</a>
            </li>
            <li>
              <a href="http://www.ciudadanointeligente.org/servicios/#votainteligente" target="_blank"><i class="fa fa-heart-o"></i> ¿Quieres tener un sitio como éste?</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          Desarrollado por <a href="http://www.ciudadanointeligente.org/" target="_blank"><img src="../img/logo-ciudadanoi.png" alt="Fundación Ciudadano Inteligente" title="Fundación Ciudadano Inteligente"></a>
        </div>
        <div class="col-md-4">
          <ul>
            <li><a href="tel:+56224192770"><i class="fa fa-phone"></i> +56 2 2419 2770</a></li>
            <li><a href="#" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Contacto prensa</a></li>
            <li><a href="http://bit.ly/17qiMkf" target="_blank"><i class="fa fa-map-marker"></i> Holanda 895, Providencia, Santiago, Chile</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer -->