<div class="allPositions"></div>

<script type="text/javascript">
  window.onload = function() { init() };

  var public_spreadsheet_url = "{{ site.gsheet }}";

  function init() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     simpleSheet: true } )
  }

  function showInfo(data, tabletop) {
    var allPositions = $(".allPositions");
    $.each(data, function(index, row){
    	var p1 = "<div class='postura postura1 col-md-6'>"+row.postura1+"</div>"
    	var p2 = "<div class='postura postura2 col-md-6'>"+row.postura2+"</div>"
    	var positionContainer = "<div class='"+row.class+" position row'>"+p1+p2+"</div>";
    	allPositions.append(positionContainer)

    })
  }
</script>