<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="keywords" content="{{site.keywords}}">
  <meta name="author" content="{{site.author}}">
  <!-- facebook shit -->
  <meta property="og:title" content="{{site.title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:image" content="{{site.url}}/img/hayacuerdo.png" />
  <!-- end facebook shit-->
  <!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{site.twitter.username}}">
  <meta name="twitter:title" content="{{site.title}}">
  <meta name="twitter:description" content="{{site.description}}">
  <meta name="twitter:creator" content="{{site.twitter.username}}">
  <meta name="twitter:image" content="{{site.url}}/img/hayacuerdo.png" />
  <!-- end twitter card -->
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{site.title}}">
  <meta itemprop="description" content="{{site.description}}">
  <meta itemprop="image" content="{{site.url}}/img/hayacuerdo.png">
  <!-- end Google+ -->

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<style>
	  body {
	    padding-top: 0px;
	    padding-bottom: 0px;
	  }
	</style>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ "/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/vendor/tabletop.js" | prepend: site.baseurl }}"></script>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
