<div class="container hidden-xs">
<!--   <div class="dipity_embed center-block" style="width:800px">
    <iframe width="800" height="400" src="http://www.dipity.com/fci/Movimiento-Estudiantil-Chile/?mode=embed&z=0#tl" style="border:1px solid #CCC;"></iframe>
    <p style="margin:0;font-family:Arial,sans;font-size:13px;text-align:center">
      <a href="http://www.dipity.com/fci/Movimiento-Estudiantil-Chile/">Movimiento Estudiantil Chile</a> on <a href="http://www.dipity.com/" />Dipity</a>.
    </p>
  </div> -->
  <h3>Hitos de la reforma educacional chilena:</h3>
  <object width="100%" height="400"><param name="movie" value="http://www.timetoast.com/flash/TimelineViewer.swf?passedTimelines=910194" /><param name="passedTimelines" value="910194" /><param name="allowScriptAccess" value="always"><embed src="http://www.timetoast.com/flash/TimelineViewer.swf?passedTimelines=910194" type="application/x-shockwave-flash" passedTimelines="910194" width="550" height="400" allowScriptAccess="always" /></object>
</div>