p {
    font-size: 0.85em;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.row {
	background: #ebe9e7;
	margin: 35px 20px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.texto {
	background: #ebe9e7;
}

.noacuerdo {
	background: #EB6956;
	padding: 10px;
}

.noizquierda {
	background: #ebe9e7;
}

.noderecha {
	background: #ebe9e7;
}
.acuerdoparcial {
	background: #ffc348;
	padding: 10px;
}

.parcializquierda {
	background: #ebe9e7;
}

.parcialderecha {
	background: #ebe9e7;
}

.acuerdototal {
	background: #3DB191;
	padding: 10px;
}

.total {
	background: #ebe9e7;
}

img {
	vertical-align: middle;
}

.izq{
	
}

.der{

}