<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% include head.html %}
    </head>
    <body class="index"> 
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

       
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
        
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">¿Hay Acuerdo?</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Reforma Educacional</a>
                </li>
            </ul>
        </div>
  </div>
</div> -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">  
  {% include header.html %}
</div>

<div class="container">
  <!-- Example row of columns -->


<h2>Sobre el co-pago</h2>

<div class="row">
    <div class="col-md-2 noacuerdo postura1">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non mollitia officia inventore molestiae, nesciunt obcaecati.</p>
    </div>
    <div class="col-md-2 hidden-xs noizquierda"><img class="izq" src="img/noacuerdoizq.svg" alt="lala"></div>
    <div class="col-md-2 col-md-offset-1 text-center texto">
        <i class="hidden-md hidden-lg fa fa-times fa-5x"></i>
    </div>
    <div class="col-md-2 col-md-offset-1 hidden-xs text-right noderecha">
        <img class="der" src="img/noacuerdoder.svg" alt="lala"></div>
    <div class="col-md-2 noacuerdo postura2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non mollitia officia inventore molestiae, nesciunt obcaecati. </p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1 acuerdoparcial postura1">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non mollitia officia inventore molestiae, nesciunt obcaecati.</p>
    </div>
    <div class="col-md-2 hidden-xs parcialderecha">
        <img class="izq" src="img/acuerdoparcializq.svg" alt="lala"></div>
    <div class="col-md-2 text-center texto">
        <i class="hidden-sm hidden-md hidden-lg fa fa-exclamation fa-5x"></i>
    </div>
    <div class="col-md-2 hidden-xs text-right parcializquierda">
        <img class="der" src="img/acuerdoparcialder.svg" alt="lala">
    </div>
    <div class="col-md-2 acuerdoparcial postura2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non mollitia officia inventore molestiae, nesciunt obcaecati. </p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-3 acuerdototal postura1">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non mollitia officia inventore molestiae, nesciunt obcaecati. </p>
    </div>
    <div class="col-md-2 total text-center">
        <img class="izq hidden-xs hidden-sm" src="img/acuerdototal.svg" alt="lala"> 
        <i class="col-md-2 hidden-sm hidden-md hidden-lg fa fa-check fa-5x"></i>
    </div>
    <div class="col-md-2 acuerdototal postura2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non mollitia officia inventore molestiae, nesciunt obcaecati. </p>
    </div>
</div>

      
    </div> <!-- /container -->

    {% include footer.html %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create', "{{ site.analytics }}" );ga('send','pageview');
        </script>
    </body>
</html>